.header {
	width: 100%;
	background: rgb(128, 255, 255);
	text-align: center;
}

nav {
	text-align: center;
}

h1 {
	text-align: center;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgb(128, 255, 255);
	color: black;
	text-align: center;
}

img {
	border:2px solid blue;
}
